<h1><%- ctx.prismicH.asText(document.data.title) %> </h1>
<p><%- ctx.prismicH.asText(document.data.introduction) %> </p>
<% document.data.chapters.forEach(element => { %> 
  <%- ctx.prismicH.asHTML(element['chapter-title']) %>
  <%- ctx.prismicH.asHTML(element['content-of-chapter']) %>
<% }) %>

<style>
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
</style>